#fabflix-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#title-area {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#title-area > span {
    font-size: 23px;
}

#cart-is-empty-prompt {
    font-size: 22px;
    margin: 10px 20px;
}

#proceed-to-payment[disabled] {
    cursor: not-allowed;
}

.quantity-field {
    width: 100px;
    display: inline;
}

.remove-item-from-cart {
    margin-left: 5px;
    display: inline;
    margin-top: -3px;
}
