#fabflix-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#fabflix-nav form {
    display: inline-block;
}

#checkout-btn, #logout-btn {
    margin-left: 5px;
}

#search-year {
    width: 80px;
}
#search-director, #search-star {
    width: 100px;
}
#movielist{
    vertical-align: bottom;
    padding-bottom: 10px;
}

#index #movielist{
    display: none;
}

