#fabflix-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#fabflix-nav form {
    display: inline-block;
}

#checkout-btn, #logout-btn {
    margin-left: 5px;
}

#search-year {
    width: 80px;
}
#search-director, #search-star {
    width: 100px;
}
#movielist{
    vertical-align: bottom;
    padding-bottom: 10px;
}

#index #movielist{
    display: none;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.autocomplete-searchbox {
    width: 2000px;
}