#payment-info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#total-price {
    margin: 10px 20px;
    font-weight: bold;
}

#title-area {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#title-area > span {
    font-size: 23px;
}

#payment-form {
    margin: 70px 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
}

#payment-form > input[type="submit"] {
    margin-top: 20px;
}

#payment-form > label {
    margin-top: 15px;
}

#err-msg-wrapper {
    background-color: #ffdce0;
    padding: 10px 20px;
    margin: 10px 0;
    width: 400px;
    display: none;
}

#err-msg {
    margin: 0;
    padding: 0;
    color: #86181d;
}

#logout-btn {
    margin-left: 5px;
}

#fabflix-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#sale-id-header {
    display: none;
}

input[disabled] {
    cursor: not-allowed;
}
