#movie_info {
    margin-right: 20px;
}

#add-shopping-cart {
    margin-left: 20px;
}

#price-info {
    margin-left: 10px;
}


#title-area {
    display: flex;
    flex-direction: row;
    align-items: center;
}

