#fabflix-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#fabflix-nav form {
    display: inline-block;
}

#title-area {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#star_info {
    margin: 10px 20px;
}

#checkout-btn {
    margin-left: 5px;
}
