#movie_info {
    margin-right: 20px;
}

#add-shopping-cart {
    margin-left: 20px;
}

#price-info {
    margin-left: 10px;
}


#block_container {
    display: flex;
}

#poster {
    width: 20%;
    text-align: center;
}

#infos {
    width: 75%;
}

#movie_info {
    padding: 20px;
}