#movie_info {
    margin-right: 20px;
}

#add-shopping-cart {
    margin-left: 20px;
}

#price-info {
    margin-left: 10px;
}

#fabflix-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#fabflix-nav form {
    display: inline-block;
}

#title-area {
    display: flex;
    flex-direction: row;
    align-items: center;
}
h2{
    padding-top: 8px;
    font-size: 18.72px;
}